/* :root {
   --card-bg-color: #F2F2F2;

   --default-color: #1698D9;
   --default-hover-color: #2EA8E6;
   --selected-color: #D91667;
   --selected-hover-color: #E52E7A;
   --disabled-color: #B3B3B3;

   --default-text-color: #FFFFFF;
   --card-text-main: #000000;
   --card-text-secondary: #666666;

}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

@font-face {
   font-family: "Exo2.0";
   src: url("./assets/fonts/Exo2.0-Thin.otf") format("opentype");
}

@font-face {
    font-family: "Trebuchet MS";
    src: url("./assets/fonts/TrebuchetMS.ttf") format("truetype");
    font-style: normal;
}


body {
  font-family: "Trebuchet MS";
} 
*/
